# Enable the nix-community direnv integration
if ! has nix_direnv_version || ! nix_direnv_version 2.2.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.0/direnvrc" "sha256-5EwyKnkJNQeXrRkYbwwRBcXbibosCJqyIUuz9Xq+LRc="
fi

# Enable the flake. We need to do this first for 'jq' below...
# XXX FIXME: should we just use grep?
use flake ./buck/nix

# Make sure the user has [ref:ca-derivations] enabled; otherwise, the ability to fetch
# derivations via Nix won't work due to the lack of self-authentication.
if [ $(nix show-config --json | jq '."experimental-features".value | contains(["ca-derivations"])') = "false" ]; then
  cat <<-EOF

ERROR: You must enable the "ca-derivations" in your Nix configuration to use this project.
See https://nixos.wiki/wiki/Ca-derivations for more information and modify either:
  - your /etc/nixos/configuration.nix'
  - your /etc/nix/nix.conf'
EOF
  exit 1
fi
